Hello,
<br><br>
Open the following link to reset your password for Demos::
<br><br>
<a href="{{ base_domain }}/#/password-reset?token={{ token }}">{{ base_domain }}/password-reset</a>
<br><br>
Demos Team
