Hallo {{username}},
<br><br>
öffne den folgenden Link um deinen Account für Demos zu verifizieren:
<br><br>
<a href="{{ base_domain }}/#/verify?token={{ token }}">{{ base_domain }}/verification</a>
<br><br>
Demos Team
