Hello {{username}},
<br><br>
Open the following link to verify your account for Demos:
<br><br>
<a href="{{ base_domain }}/#/verify?token={{ token }}">{{ base_domain }}/verification</a>
<br><br>
Demos Team
